<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imageurl %>
    <%= f.text_area :imageurl %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :creation %>
    <%= f.datetime_select :creation %>
  </div>

  <div class="field">
    <%= f.label :update %>
    <%= f.datetime_select :update %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
