<%= form_for(rightwidget) do |f| %>
  <% if rightwidget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rightwidget.errors.count, "error") %> prohibited this rightwidget from being saved:</h2>

      <ul>
      <% rightwidget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
