<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :timing %>
    <%= f.time_select :timing %>
  </div>

  <div class="field">
    <%= f.label :venue %>
    <%= f.text_area :venue %>
  </div>

  <div class="field">
    <%= f.label :imageurl %>
    <%= f.text_area :imageurl %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
